<div class="video-card">
    <div class="video-preview" style="background-image: url('{{videoData.snippet.thumbnails.standard.url}}')"></div>
    <div class="video-stats">
        <div class="stats-wrapper">
            <div class="viewCount"></div>
            <span>{{videoData.statistics.viewCount}}</span>
        </div>
        <div>
            <div class="likeCount"></div>
            <span>{{videoData.statistics.likeCount}}</span>
        </div>
        <div>
            <div class="commentCount"></div>
            <span>{{videoData.statistics.commentCount}}</span>
        </div>
    </div>
    <h3 class="header">{{videoData.snippet.title}}</h3>
    <button class="information-button">more</button>
    <div [style.background-color]="videoData.snippet.publishedAt | changeBgColor" class="indicator"></div>
</div>