@import '../../../../assets/styles/global.scss';

.video-card {
    height: 320px;
    width: 264px;
    background: $background-grey-color;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);

    .video-preview {
        height: 148px;
        background-size: cover;
        background-position: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: pink;
    }

    .video-stats {
        display: flex;
        justify-content: right;
        column-gap: 15px;
        padding: 0 10px;
        margin: 15px 0;

        .stats-wrapper {
            display: flex;
            column-gap: 5px;
            align-items: center;

            .stats-count {
                width: 20px;
                background: center;
                background-repeat: no-repeat;
                height: 13px;
            }

            .views {
                background-image: url('../../../../assets/img/viewed.png');
            }

            .likes {
                background-image: url('../../../../assets/img/liked.png');
            }

            .comments {
                background-image: url('../../../../assets/img/Group\ 9.png');
            }
        }
    }

    .header {
        display: block;
        color: $black-color;
        font-size: 15px;
        font-weight: 700;
        text-align: end;
        padding: 0 10px;
        margin: 15px 0;
    }

    ::ng-deep app-button {
        button {
            margin: 0 auto;
            width: 120px;
            height: 35px;
        }
    }

    .indicator {
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background: $black-color;
    }
}