<div class="video-card">
    <div class="video-preview" style="background-image: url('{{videoData.snippet.thumbnails.standard.url}}')"></div>
    <div class="video-stats">
        <div class="stats-wrapper">
            <div class="stats-count views"></div>
            <span>{{videoData.statistics.viewCount}}</span>
        </div>
        <div class="stats-wrapper">
            <div class="stats-count likes"></div>
            <span>{{videoData.statistics.likeCount}}</span>
        </div>
        <div class="stats-wrapper">
            <div class="stats-count comments"></div>
            <span>{{videoData.statistics.commentCount}}</span>
        </div>
    </div>
    <h3 class="header">{{videoData.snippet.title}}</h3>
    <app-button routerLink="video" routerLinkActive="active">
        <span>more</span>
    </app-button>
    <div [style.background-color]="videoData.snippet.publishedAt | changeBgColor" class="indicator"></div>
</div>