<div class="video-card">
    <div class="video-preview"></div>
    <div class="video-stats">
        <div class="stats-wrapper">
            <div class="viewCount"></div>
            <span>view</span>
        </div>
        <div>
            <div class="likeCount"></div>
            <span>like</span>
        </div>
        <div>
            <div class="commentCount"></div>
            <span>comm</span>
        </div>
    </div>
    <h3 class="header">Здесь будет заголовок</h3>
    <button class="information-button">more</button>
    <div class="indicator"></div>
</div>