@import '../../../../assets/styles/global.scss';

:host {
    @extend %wrapper;
}

.wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .logo {
        background-image: url('../../../../assets/img/logo-main.png');
        height: 50px;
        width: 50px;
    }
    
    button {
        @extend %button;
        width: 100px;
        height: 35px;
    }
}

::ng-deep app-login-information {
    position: absolute;
    right: 30px;
}