@import '../../../../assets/styles/global.scss';

:host {
    @extend %wrapper;
    padding: 15px 0;
    flex-direction: column;
}

.wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .logo {
        background-image: url('../../../../assets/img/logo-main.png');
        height: 50px;
        width: 50px;
    }

    ::ng-deep app-button {
        button {
            width: 100px;
            height: 35px;
        }
    }

    .settings-button {
        ::ng-deep button {
            display: flex;
            width: 35px;
            height: 35px;
            align-items: center;
            justify-content: center;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}

::ng-deep app-login-information {
    position: absolute;
    right: 90px;
    top: 20px
}