@import '../../../../assets/styles/global.scss';

:host {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

img {
    width: 40px;
    cursor: pointer;
}

span {
    color: $black-color;
}