/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/fonts.scss";

* {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 14px;
}

body {
    margin: 0;
}