$background-grey-color: #faf6f6;
$grey-color: #efefef;
$black-color: #424242;
$light-blue-color: #2F80ED;

%wrapper {
    width: 100%;
    background: $background-grey-color;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

%button {
    display: block;
    background: $light-blue-color;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 0 4px 0 $light-blue-color;

    &:hover {
        box-shadow: none;
        cursor: pointer;
    }
}

%header {
    color: $black-color;
    font-size: 30px;
    margin: 0;
}