$background-grey-color: #faf6f6;
$light-grey-color: #efefef;
$grey-color: #818181;
$black-color: #424242;
$light-blue-color: #2F80ED;
$light-blue-color-disabled: #6ea2e8;
$background-blue-color: #c9e0ff;

%wrapper {
    width: 100%;
    background: $background-grey-color;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

%button {
    display: block;
    background: $light-blue-color;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 0 4px 0 $light-blue-color;

    &:hover {
        box-shadow: none;
        cursor: pointer;
    }

    &:disabled {
        box-shadow: none;
        background: #6ea2e8;
        color: $background-grey-color;
        cursor: auto;
    }
}

%header {
    color: $black-color;
    font-size: 40px;
    margin: 0;
}

%input {
    width: 250px;
    height: 40px;
    outline: none;
    border: 1px solid $grey-color;
    background: transparent;
    padding: 0 10px;
    color: $black-color;
    border-radius: 3px;

    &:hover {
        border-color: $black-color;
    }
}