$grey-color: #E5E5E5;
$light-blue-color: #2F80ED;

%button {
    display: block;
    background: $light-blue-color;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 0 4px 0 $light-blue-color;
}