<div class="page-wrapper">
  <div class="login-wrapper">
    <h1>Angular project</h1>
    <form class="login-form" [formGroup]="form">
      <legend>Complete the login form</legend>
      <p>
        <input class="login-input" formControlName="name" type="text" name="user-name" id="name" placeholder="Enter your login"/>
      </p>
      <p>
        <input class="login-input" formControlName="email" type="email" name="user-email" id="email" placeholder="Enter your e-mail" />
      </p>
      <p>
        <input class="login-input" formControlName="password" type="password" name="user-password" id="password" placeholder="Enter your password"/>
      </p>

      <app-button [disabled]="this.form.status !== 'VALID'" (click)="login()" routerLink="../main" routerLinkActive="active">
        <span>Submit</span>
      </app-button>
    </form>
  </div>
  <div class="background-wrapper"></div>
</div>
