@import '../../../../assets/styles/global.scss';

.page-wrapper {
    display: flex;
    justify-content: space-between;

    .login-wrapper {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 200px 0;
        margin: 0 auto;

        h1 {
            @extend %header;
            padding: 40px 0;
        }

        .router-link {
            @extend %button;
            padding: 10px;
            width: 100%;
            text-align: center;
            text-decoration: none;
        }
    }

    .background-wrapper {
        width: 50%;
        height: 100vh;
        background-image: url('../../../../assets/img/login-background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}